Podfile.lock
TMDebugConsoleSample/Pods
TMDebugConsoleSample/TMDebugConsoleSample.xcodeproj/project.xcworkspace/xcuserdata/
TMDebugConsoleSample/TMDebugConsoleSample.xcworkspace
TMDebugConsoleSample.xccheckout
